.container::-webkit-scrollbar {
  display: none;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  button{
    border-radius: 25px;
  }
  button:hover{
    cursor: pointer;
    background-color: cornsilk;
  }
.conatainer{
  position: relative;
}
  .header{
width:100%;
height: 50px;
background-color: #1976d2;
position: fixed;
text-align: center;
padding-top: 10px;
font-size: 20px;
  }

  .options{
    width:20%;
border:2px solid black;
float:left;
position: fixed;
top: 50px;
  }
  .options > div{
border-bottom: 2px solid black;
height:50px;
text-align: center;
padding-top: 10px;
  }
  .options > div:hover{
cursor: pointer;
  }

  .content{
    width:80%;
float: right;
  }

  .dashboard{
height: calc(100vh - 50px);
margin-top: 80px;


  }

  .actions{
    height:100vh;
margin-top: 60px;
padding:30px;

  }

  .actions > div:hover{
    cursor: pointer;
  }
  .tables{
    height:100vh;
margin-top: 50px;

  }

  .actionbutton{
  }

  .startVote{
    float: left;
    height: 200px;
    width: 200px;
    background-color: burlywood;
    text-align: center;
    padding-top: 80px;
    font-size:20px;

  }

  .endVote{
    float: left;
    margin-left:200px;
    height: 200px;
    width: 200px;
    background-color: burlywood;
        text-align: center;
    padding-top: 80px;
    font-size:20px;

  }

  .declareResult{
    float: right;
    margin-right: 20px;
    height: 200px;
    width: 200px;
    background-color: burlywood;
        text-align: center;
    padding-top: 80px;
    font-size:20px;

  }